<div class="editpostComponent">
    <button (click)="onPopupClosed()" class="closePopup">X</button>
    <div class="postInfo">
        <h2 >Title</h2>
        <p>ea molestias quasi exercitationem repellat qui ipsa sit aut</p>
        <h2 >Body</h2>
        <p>et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut</p>
        <button  class="Updatepost" type="button" id="editPost">Update</button>
    </div>

</div>