.editpostComponent{
    width: 500px;
    height: 600px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 25px gray;
}
.closePopup{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
    color: red;
}
.postInfo{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
h2{
    color: rgb(32, 191, 219);
    margin-top: 20px;
    margin-bottom: 20px;
}
.Updatepost{
    color: black;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 10%;
    border: 1px solid white;
    font-weight: bold;
    margin-top: 15px;
}