
<header>
    <div class="header wrapper">
        <div class="logoimage "routerLink="/main">
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li routerLink="/posts" routerLinkActive="active">Posts</li>
                    <li  routerLink="/albums" routerLinkActive="active">Albums</li>
                    <li routerLink="/todos" routerLinkActive="active">Todos</li>
                </ul>
            </nav>
        </div>
    </div>

</header>
