.conteinerforbackground{
    width: 100vw;
    background-image: url('../../assets/images/backOfAll.png');
    background-repeat: repeat;
    background-blend-mode: luminosity;
    background-size: 50%;
    margin:0;  
}
  .mainContainer {
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    gap: 10px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px black;
  }
  span {
    color: rgb(10, 10, 248);
    margin-right: 10px;
  }
  p {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  img {
    width: 15px;
    height: 15px;
  }
  .completion {
    display: flex;
    justify-content: center;
    align-items: center;
  }