<div class="main_info">
    <div>
        <h1 class="maintext">
            <span class="json">json</span>Placeholder
        </h1>
        <p>Angular app</p>

    </div>
    <div class="forIcons">
        <div class="formainsIcons" routerLink="/posts"><img src="../../assets/images/postsIcon.png" alt="Posts Icon"/>
            <h2>Posts</h2>
        </div>
        <div class="formainsIcons" routerLink="/albums"><img src="../../assets/images/img_icon.png" alt="Posts Icon" />
            <h2>Albums</h2>
        </div>
        <div class="formainsIcons" routerLink="/todos"><img src="../../assets/images/todoIcon.png" alt="Posts Icon" />
            <h2>Todos</h2>
        </div>
    </div>

</div>
