<div class="postWithId">
    <div class="postInfo">
        <img src='../../assets/images/backarrow.png' class="backarrow" alt="avatar image" />
        <h2 >Title</h2>
        <p>{{newTitle}}</p>
        <h2 >Body</h2>
        <p>{{newBody}}</p>
    </div>
    <div class="commentInfo">
        <div class="commentsWithScroll">
            <div class="comentOfPost" *ngFor="let coment of coments" >
                <div class="content">
                    <div class="imageofAvatar">
                        <img src='../../assets/images/avatar.jpg' alt="avatar image" />
                    </div>
                    <div  >
                        <h2>{{coment.name}}</h2>
                        <p>{{coment.body }}</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div >
            <p>Add Comment</p>
        </div>
        <div class="addComment">
            <div>
                <img src='../../assets/images/avatar.jpg' alt="avatar image" />
            </div>
            <div>
                <h3 class="addingNewComment">Name</h3>
                <input type="text" [(ngModel)]="newComentName" title="comentTitle">
                <h4 class="addingNewComment">Comment</h4>
                <input type="text" [(ngModel)]="newComment" title="commentBody">
                <button  class="add" type="button" (click)="addNewComent()" id="newpost">Add</button>
            </div>
            
            
        </div>
    </div>
    

</div>

