.conteinerforbackground{
    width: 100vw;
    background-image: url(../../assets/images/backOfAll.png);
    background-repeat: repeat;
    background-blend-mode: luminosity;
    background-size: 50%;
    margin:0; 
    
}
.postsConteiner{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.addNewPosts{
    width: 50%;
    background-color: rgb(29, 154, 238);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px 20px;
}
input{
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    color: white;
    background-color: rgb(17, 125, 248);
    padding: 15px ;
    border-radius: 10%;
    border: 1px solid white;
    margin-bottom: 20px;
    font-weight: bold;
    margin: 50px;
}
.addingNewPost{
    color: white;
    font-weight: 400;
}
.add{
    background-color: red;
    margin-left: 10px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 15px ;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  td {
    text-align: left;
  }
  td,
  th {
    padding: 15px 30px;
    width: 33%;
  }
  th {
    text-align: center;
    color: white;
    background-color: rgb(17, 125, 248);
  }
  tr:nth-child(odd) {
    background-color: #ebebeb;
  }