<router-outlet></router-outlet>
<div class="conteinerforbackground">
    <div class="albumConteiner">
        <table>
            <tr>
              <th>POST'S USER</th>
              <th>TITLE</th>
              <th>BODY</th>
            </tr>
            <tr  *ngFor="let album of albums" [routerLink]="['/albums',album.id]">
              <td>{{ getUserName(album.userId) }}</td>
              <td>{{ album.title }}</td>
              <td>{{ 50 }}</td>
            </tr>
          </table>
    </div>
</div>
